<h1>회원 가입 폼</h1>

<%=form_tag(users_path) do %>
    <!--users_path로 가면 새로운 계정이 생성된다-->
    <%=label_tag "email", "이메일"%> 
    <%=text_field_tag "email"%> <br>
    
    <%=label_tag "password", "비밀번호"%> 
    <%=password_field_tag "password"%> <br>
    
    <%=label_tag "name", "이름"%> 
    <%=text_field_tag "name", nil ,placeholder: "이름"%> <br>
    
    <%=submit_tag "회원가입"%>
<%end%>