<!DOCTYPE html>
<html>
  <head>
    <title>GuideLine3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="text-align:center; border-bottom: 2px solid; padding-bottom:10px;">
      <span><%=link_to "홈으로", posts_path %></span>
    <%if user_signed_in? %>
      <span><%=current_user.name%>님 환영합니다</span>
      <span><%=link_to "로그아웃 ", session_path(current_user), method: 'delete'%></span>
    <%else%>
      <span><%=link_to "로그인하기 ", new_session_path %></span> 
      <span><%=link_to "회원가입하기", new_user_path %></span>    
    <%end%>
    </div>
    
    <div style="text-align:center;">
      <p style="color:red;"><%=notice%></p><!--flash 위치-->
      <%= yield %>
    </div>
  </body>
</html>
